<div class="td-content">
	<h1>{{ .Title }}</h1>
	<span style="font-size:1.5rem;padding-right:20px">{{ .Content }}</span>
	{{ with .Params.description }}<div class="lead">{{ . | markdownify }}</div>{{ end }}
	<header class="article-meta">
		{{ $context := . }}
		{{ if .Site.Params.Taxonomy.taxonomyPageHeader }}
			{{ range $index, $taxo := .Site.Params.Taxonomy.taxonomyPageHeader }}
				{{ partial "taxonomy_terms_article.html" (dict "context" $context "taxo" $taxo ) }}
			{{ end }}
		{{ else }}
			{{ range $taxo, $taxo_map := .Site.Taxonomies }}
				{{ partial "taxonomy_terms_article.html" (dict "context" $context "taxo" $taxo ) }}
			{{ end }}
		{{ end }}
		{{ if (and (not .Params.hide_readingtime) (.Site.Params.ui.readingtime.enable)) }}
			{{ partial "reading-time.html" . }}
		{{ end }}
	</header>  
	

    <p style="opacity: .5;margin-top: 80px;  font-style: italic; font-weight: 300;"><a style="color: gray;" href="https://campusfounders.de"> {{( T "ui_cta" ) }}</a></p>



	{{ if (and (not .Params.hide_feedback) (.Site.Params.ui.feedback.enable)) }}
		{{ partial "feedback.html" .Site.Params.ui.feedback }}
		<br />
	{{ end }}
	{{ if (.Site.Params.DisqusShortname) }}
		<br />
		{{ partial "disqus-comment.html" . }}
	{{ end }}
	{{ partial "page-meta-lastmod.html" . }}
</div>
